.app-footer{
    background: #202020;
    color: white;
}

.app-copyright{
    background: black;
    font-size: .8em; 
    color: lightgray;
    
}

.content-header{
    color: var(--ion-color-medium);
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
}
.content-item{
    padding: 10px 0;
    padding-left: 10px;
    font-weight: lighter;
}

.img-social{
    cursor: pointer;
    padding: 10px;
    width: 52px;
    height: 52px;
}
