<div class="app-footer">
  <div class="footer-content">
    <div class="a3-container a1-fill-parent">
      <div class="a3-container-center a1-padding"></div>
      <div class="a3-flex-1 a1-padding">
        <div class="a3-container a1-fill-parent">
          <div class="list-content">
            <div class="content-header">About</div>
            <div class="content-item">Company</div>
            <div class="content-item">Certification</div>
            <div class="content-item">Video</div>
            <div class="content-item">Download</div>
            <div class="content-item">Contacts</div>
          </div>

          <div class="list-content">
            <div class="content-header">Product</div>
            <div class="content-item">Swim Spa</div>
            <div class="content-item">Outdoor Spa</div>
            <div class="content-item">Sauna Spa</div>
            <div class="content-item">Massage Bathtub</div>
            <div class="content-item">Steam Bathroom</div>
            <div class="content-item">Shower Column</div>
          </div>

          <div class="list-content">
            <div class="content-header">Contacts</div>
            <div class="content-item">Message</div>
            <div class="content-item">Facebook</div>
            <div class="content-item">Youtube</div>
            <div class="content-item">Zalo</div>
          </div>
        </div>
      </div>
      <div class="a3-container a1-padding">

      </div>
    </div>


  </div>
  <div class="app-copyright a1-padding">
    @Copyright, 2019 Vipsa Hà Đông Hà Nội
  </div>
</div>