<div class="app-footer">
  <div class="footer-content a1-padding">
    <div class="a3-container a1-fill-parent">
      <div class="a3-container a1-padding">
        
        <div style="font-weight:bold; font-size: 2em;min-width: 20vw; text-align: center" >
        <a href="/" class="a1-clear-link a1-link">VIPSPA</a>
        </div>
      </div>
      <div class="a3-flex-1 a1-padding">
        <div class="a3-container a1-fill-parent">
          <div class="list-content a3-flex-1">
            <div class="content-header">About</div>
            <div class="content-item a1-link">Company</div>
            <div class="content-item a1-link">Certification</div>
            <div class="content-item a1-link">Video</div>
            <div class="content-item a1-link">Download</div>
            <div class="content-item a1-link">Contacts</div>
          </div>

          <div class="list-content  a3-flex-1">
            <div class="content-header">Product</div>
            <div class="content-item a1-link">Swim Spa</div>
            <div class="content-item a1-link">Outdoor Spa</div>
            <div class="content-item a1-link">Sauna Spa</div>
            <div class="content-item a1-link">Massage Bathtub</div>
            <div class="content-item a1-link">Steam Bathroom</div>
            <div class="content-item a1-link">Shower Column</div>
          </div>

          <div class="list-content  a3-flex-1">
            <div class="content-header">Contacts</div>
            <div class="content-item a1-link">Message</div>
            <div class="content-item a1-link">Facebook</div>
            <div class="content-item a1-link">Youtube</div>
            <div class="content-item a1-link">Zalo</div>
          </div>
        </div>
      </div>
      <div class="a3-container a1-padding">

      </div>
    </div>


  </div>
  <div class="app-copyright a1-padding">
    <div class="a3-container a3-items-center a3-justify-between a1-padding-right">
      <div>@ Copyright, 2019 Vipsa Hà Đông Hà Nội</div>
      <div class="a3-container-center">
        <div class="a1-padding-right a1-link">Việt Nam (English)</div><img src="assets/icon/vn.svg" style="width:2em">
      </div>
    </div>
  </div>
</div>