.app-footer{
    background: #202020;
    color: white;
}

.app-copyright{
    background: black;
    font-size: .8em; 
    color: lightgray;
    
}

.content-header{
    font-size: 1.4em;
    font-weight: bold;
}
.content-item{
    padding: 10px;
}