.app-footer{
    background: #202020;
    color: white;
}

.app-copyright{
    background: black;
    font-size: .8em; 
    color: lightgray;
    
}

.content-header{
    color: var(--ion-color-medium);
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.content-item{
    padding: 10px 0;
}
