<div class="app-header">
  <div class="a3-container a1-fill-parent">
    <div class="a3-container-center a1-height-100 a1-padding app-brand">
      <a href="/" class="a1-clear-link a1-link">VIPSPA</a>
    </div>
    <div class="a3-flex-1 a1-height-100">
      <div class="a3-container a1-fill-parent">
        <a href="/home" class="a3-container-center a1-clear-link header-menu-item">Home</a>
        <a href="/news" class="a3-container-center a1-clear-link header-menu-item">News</a>
        <a href="/company" class="a3-container-center a1-clear-link header-menu-item">Company</a>
        <a href="/product" class="a3-container-center a1-clear-link header-menu-item">Product</a>
        <a href="/project" class="a3-container-center a1-clear-link header-menu-item">Project</a>
        <a href="/help" class="a3-container-center a1-clear-link header-menu-item">Help</a>
      </div>
    </div>
    <div class="a3-container a1-height-100" style="width:20vw">

    </div>
  </div>


</div>