<div class="app-header">
  <div class="a3-container a1-fill-parent">
    <div class="a3-container-center a1-height-100 a1-padding app-brand">
      <a href="/" class="a1-clear-link a1-link">{{_DataService._AppData.name}}</a>
    </div>
    <div class="a3-flex-1 a1-height-100">
      <div class="a3-container a1-fill-parent">
        <a *ngFor="let menu of _DataService._MenuItems | activeItems" [href]="menu.url"
          class="a3-container-center a1-clear-link header-menu-item">{{menu.name}}</a>
      </div>
    </div>
    <div class="a3-container a1-height-100" style="width:20vw"> </div>
  </div>
</div>