<ion-content class="a1-relative">


  <app-slideshow></app-slideshow>

  <div class="router-container">
    <div class="a3-container a3-items-center">
      <ion-button fill="clear" routerLink="/san-pham">
        <ion-icon name="home"></ion-icon>
      </ion-button>
      <span>/</span>
      <ion-button fill="clear" routerLink="/san-pham" style="text-transform: none">Sản phẩm</ion-button>
      <span *ngIf="_DataService._CategorySelected">/</span>
      <ion-button fill="clear" style="text-transform: none" *ngIf="_DataService._CategorySelected"
        [routerLink]='"/san-pham/"+_DataService._CategorySelected.id'>{{_DataService._CategorySelected.name}}
      </ion-button>
      <span *ngIf="_Product">/</span>
      <ion-button fill="clear" style="text-transform: none" *ngIf="_Product">{{_Product.name}}</ion-button>
    </div>
  </div>

  <div class="page-content text-center">
    <div class="ion-hide-sm-down">
      <div>
        <ion-text color="success">
          <h1>Danh mục sản phẩm</h1>
        </ion-text>

        <hr style="background-color:lightgray">
      </div>

      <div class="a1-padding-top">
        <div class="a3-container-center a1-padding">
          <div class="sub-menu-item a1-link"
            *ngFor="let category of (_DataService._Categories | activeItems | sortPriority)"
            (click)="onClickSelectCategory(category)"
            [class.selected]="_DataService._CategorySelected && _DataService._CategorySelected.id==category.id">
            {{category.name}} <span *ngIf="category.totalProducts">({{category.totalProducts}})</span></div>
        </div>
      </div>
    </div>

    <div *ngIf="_Loading">
      <div padding text-center style="margin-top:10vh">
        <div padding text-center>
          <ion-spinner name="dots"></ion-spinner>
        </div>
        <div text-center> Đang tải dữ liệu!</div>
      </div>
    </div>

    <div *ngIf="!_Loading&&!_Data">
      <div padding text-center style="margin-top:10vh">
        Chưa có thông tin sản phẩm!
      </div>
    </div>

    <ion-grid *ngIf="_Data&&!_Loading">
      <ion-row class="a1-relative">
        <ion-col size="12" size-md="6">
          <div class="a1-width-100 a1-relative" style="min-height:20vw" id="_ID_ImgPreviewContainer">
            <img [src]="_CurrentImage" id="_ID_ImagePreview">
            <div id="_ID_Preview_Shadow"></div>
          </div>
          <div style="overflow-x: auto; white-space: nowrap; height:60px; padding: 5px 0; margin-top: 16px">
            <img *ngFor="let img of _Data.images" (click)="onClickSelectImage(img)" [src]="img"
              style="height:100%; margin-right: 10px" [class.imgSelected]="img==_CurrentImage" class="imgPreview">
          </div>
        </ion-col>
        <ion-col size="12" size-md="6">
          <div class="a1-width-100 a1-padding-left">
            <div> <span style="color:gray; min-width: 100px">Tên sản phẩm</span> :
              <strong>{{_Data.product.name}}</strong> </div>
            <div class="a1-padding-top"> <span style="color:gray; min-width: 100px">Mã sản phẩm</span> :
              {{_Data.product.code}}</div>
            <div class="a1-padding-top"> <span style="color:gray; min-width: 100px">Kích thước</span> :
              {{_Data.product.brand}}</div>
            <app-order-product-form></app-order-product-form>
          </div>

        </ion-col>

        <div id="_ID_ImgPreviewSideContainer">
          <div class="a1-container">
            <img [src]="_CurrentImage" id="_ID_ImagePreviewSide" style="position:absolute">
          </div>
        </div>
      </ion-row>
      <ion-row>
        <div class="a1-padding-top">
          <strong>Chi tiết sản phẩm</strong>
        </div>
        <div class="a1-width-100 a1-padding-left">
          <div *ngFor="let item of _Data.details" class="a1-padding-top" footer>
            <span style="color:gray; min-width: 100px;" class="item-name">{{item.name}}</span> :
            <span><strong>{{item.value}}</strong></span>
          </div>
        </div>
      </ion-row>
      <ion-row>
        <div class="other-product-container">
          <div><strong>Xem thêm các sản phẩm khác</strong></div>
          <div class="product-containers">
            <div *ngFor="let product of _SimilarProducts" class="product-container">
              <app-product [data]="product"></app-product>
            </div>
          </div>
        </div>
      </ion-row>

      <ion-row>
        <div class="other-product-container">
          <div><strong>Các sản phẩm bạn đã xem</strong></div>
          <div class="product-containers">
            <div *ngFor="let product of _RecentProducts" class="product-container">
              <app-product [data]="product"></app-product>
            </div>
          </div>
        </div>
      </ion-row>
    </ion-grid>


  </div>
  <app-footer></app-footer>
</ion-content>