<div class="container">
  <div class="a3-container a3-items-center">
    <div>Giá bán:</div>
    <div padding style="font-size:1.2em">
      <ion-text color="danger">Liên hệ</ion-text>
    </div>
  </div>



  <ion-card color="success">
    <ion-card-title padding>Gọi lại cho tôi</ion-card-title>
    <ion-card-content>
      <div class="a3-container-center a3-items-center">
        <ion-input type="number" class="a3-flex-1" placeHolder="Số điện thoại"></ion-input>
        <ion-button color="danger">Gửi</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <div padding text-center> --  Hoặc liên hệ qua hotlines --</div>
  <div class="a3-container-center">
    <div style="padding: 8px 16px; background:rgb(247, 247, 247); border-radius: 4px">
      <div text-center >Giờ hành chính</div>
      <a class="a1-clear-link" href="tel:+840901766313"><div padding text-center style="font-size: 1.4em;font-weight: bold"><ion-text color="dark">090.1766.313</ion-text></div></a>
    </div>
    <div style="width:20px"></div>
    <div style="padding: 8px 16px; background:rgb(247, 247, 247);border-radius: 4px">
      <div text-center>Tổng đài 24/7</div>
      <a class="a1-clear-link" href="tel:+840901766313"><div padding text-center style="font-size: 1.4em;font-weight: bold"><ion-text color="success">090.1766.313</ion-text></div></a>
    </div>
  </div>
</div>