.sub-menu-item{
    padding: 10px 16px;
    &.selected{
        color: var(--ion-color-success);
    }
}

.category-container{
    // overflow-x: scroll;
    // white-space: nowrap;
    // flex-wrap: nowrap;
}
.list-category-product{
    width:320px;
    display: inline-block;
    margin-right: 16px;
}

.list-product{
    width:320px;
    display: inline-block;
    margin-right: 16px;
}

.router-container{
    padding: 6px 10px;
    border-radius: 4px;
    border: solid 1px var(--ion-color-primary);
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
}

@media only screen and (min-width: 800px) {
    .page-content{
        padding: 40px;
    }
}

.categories{
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
            0 5px 15px 0 rgba(0,0,0,0.08);
            border-radius: 6px;
            padding: 20px 10px;
            width:20vw;
            flex-shrink: 0;
            height: auto;
}

