<ion-content>
    <app-slideshow></app-slideshow>
    <div class="page-content text-center" style="padding: 40px">
        <div>
            <div>
                <ion-text color="success">
                    <h1>Danh mục sản phẩm</h1>
                </ion-text>

                <hr style="background-color:lightgray">
            </div>

            <div class="a1-padding-top" id="_ID_Categories_Container">
                <div class="a3-container-center a1-padding">
                    <div class="sub-menu-item a1-link"
                        *ngFor="let category of (_DataService._Categories | activeItems | sortPriority)"
                        (click)="onClickSelectCategory(category)"
                        [class.selected]="_DataService._CategorySelected && _DataService._CategorySelected.id==category.id">
                        {{category.name}} <span *ngIf="category.totalProducts">({{category.totalProducts}})</span></div>
                </div>
            </div>


        </div>
        <div class="a1-padding product-container">
            <div *ngIf="products.length>0" class="animated fadeIn" style="line-height:2em;" id="_IDProductContainer">
                <ion-grid>
                    <ion-row style="flex-wrap:wrap">
                        <ion-col size="3" *ngFor="let product of products" class="product">
                            <div class="product-image">
                                <img [src]="sanitize(product.thumb)" [routerLink]="['/product/details/'+product.id]"
                                    >
                            </div>
                            <div padding text-center class="product-name app-link"
                                [routerLink]="['/product/details/'+product.id]">
                                {{product.name}}</div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>

            <div *ngIf="_Loading && products.length==0" class="animated fadeIn">
                <div class="a3-container-center" [style.height]="_ProductContainerHeight" style="min-height:200px">
                    <div padding text-center class="a1-width-100">
                        <ion-spinner name="dots"></ion-spinner>
                        <div padding text-center class="a1-width-100"> Đang tải dữ liệu!</div>
                    </div>

                </div>

            </div>
            <div *ngIf="!_Loading && products.length==0" class="animated fadeIn">
                <div class="a3-container-center" style="height:400px">
                    <div padding text-center class="a1-width-100">
                        Hiện chưa có sản phẩm nào!
                    </div>

                </div>

            </div>

        </div>

        <div padding text-center class="animated fadeIn" *ngIf="products.length>0 || _Loading">
            <app-pagination [data]="_DataService._PaginationSelected" (onPageChanged)="onPageChanged($event)">
            </app-pagination>
        </div>
    </div>
    <app-footer></app-footer>
</ion-content>