ion-thumbnail{
    width:20vw;
    height:20vw;
    max-width: 200px;
    max-height: 200px;
}
ion-item{
    font-size: 16px;
}

/* styles for '...' */ 
.new-description {
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative; 
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 3.6em; 
    /* fix problem when last visible word doesn't adjoin right side  */
    /* place for '...' */
  }
  