<ion-content>
  <app-slideshow></app-slideshow>
  <div class="page-content">
    <div *ngIf="_Loading">
      <div style="padding-top:100px"></div>
      <app-loading></app-loading>
    </div>

    <div *ngIf="!_Loading">
      <div style="width:100vw; max-width:800px;margin: auto; padding : 16px">
        <div id="_IDNewContent" class="html-content" [innerHTML]="_Content"></div>
      </div>

      <div text-center>
        <ion-list style="width:100vw; max-width:800px;margin: auto">
          <ion-item *ngFor="let new of _News" [routerLink]='"/tin-tuc/"+new.url' routerDirection="root">
            <ion-thumbnail slot="start">
              <img [src]="new.img">
            </ion-thumbnail>
            <div style="position: relative; height:100%; padding-right: 16px">
              <h5>{{new.name}}</h5>
              <p class="new-description">{{new.description}}</p>
            </div>
          </ion-item>
        </ion-list>

        <div padding text-center>
          <ion-button (click)="onClickLoadMore()" fill="outline" *ngIf="_CanLoadMore">Xem
            thêm</ion-button>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>