<div class="app-slideshow a1-relative">
  <div class="a1-absolute a1-top a1-width-100 a1-z-10">
    <app-header></app-header>
  </div>
  <ion-slides pager [options]="slideOptions" class="a1-container">
    <ion-slide class="a1-container">
      <a href="/product/" class="a1-clear-link  a1-container">
        <div [style.backgroundImage]="'url(assets/images/3.jpg)'" class="full-image"></div>
      </a>
    </ion-slide>
    <ion-slide class="a1-container">
      <a href="/product/" class="a1-clear-link a1-container">
        <div [style.backgroundImage]="'url(assets/images/4.jpg)'" class="full-image"></div>
      </a>
    </ion-slide>
    <ion-slide class="a1-container">
      <a href="/product/" class="a1-clear-link  a1-container">
        <div [style.backgroundImage]="'url(assets/images/6.jpg)'" class="full-image"></div>
      </a>
    </ion-slide>
    <ion-slide class="a1-container">
      <a href="/product/" class="a1-clear-link a1-container">
        <div [style.backgroundImage]="'url(assets/images/10.jpg)'" class="full-image"></div>
      </a>
    </ion-slide>
    <ion-slide class="a1-container">
      <a href="/product/" class="a1-clear-link a1-container">
        <div [style.backgroundImage]="'url(assets/images/11.jpg)'" class="full-image"></div>
      </a>
    </ion-slide>
  
    <ion-slide class="a1-container">
      <a href="/product/" class="a1-clear-link a1-container">
        <div [style.backgroundImage]="'url(assets/images/13.jpg)'" class="full-image"></div>
      </a>
    </ion-slide>
    <ion-slide class="a1-container">
      <a href="/product/" class="a1-clear-link a1-container">
        <div [style.backgroundImage]="'url(assets/images/2.jpg)'" class="full-image"></div>
      </a>
    </ion-slide>
  </ion-slides>
</div>