// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root,
:root[mode="md"],
:root[mode="ios"]{
 --ion-font-family : 'Roboto', sans-serif;
 font-family: var(--ion-font-family) !important;
}

html{
    font-size: 16px;
}


$color-red: #FF0000;
$color-green: #00FF00;
$color-blue: #0000FF;

.page-content{
    min-height: calc(100vh - 260px);
}

.a1-pointer{
    cursor: pointer;
    color: var(--ion-color-success);
}

.a1-clear-link{
    color: white;
    text-decoration: none;
}

.a1-link:hover{
    cursor: pointer;
    color: var(--ion-color-success);
}