<ion-content>
  <app-slideshow></app-slideshow>
  <div class="page-content">
    <div class="router-container">
      <div class="a3-container a3-items-center">
        <ion-button fill="clear" routerLink="/dich-vu">
          <ion-icon name="home"></ion-icon>
        </ion-button>
        <span>/</span>
        <ion-button fill="clear" routerLink="/dich-vu" style="text-transform: none">Dịch vụ</ion-button>
        <span *ngIf="_Link">/</span>
        <ion-button fill="clear" style="text-transform: none" *ngIf="_Link">{{_Link}}</ion-button>
      </div>
    </div>

    <div *ngIf="_Loading" style="padding-top:100px">
      <app-loading></app-loading>
    </div>
    <div padding id="_ID_Content" class="html-content">

    </div>

    <div class="other-services">
      <ion-list>
        <ion-item *ngFor="let service of _OtherServices" [routerLink]='"/dich-vu/"+service.url'>
          <ion-thumbnail slot="start">
            <ion-img [src]="service.img"></ion-img>
          </ion-thumbnail>
          <ion-label>{{service.name}}</ion-label>
        </ion-item>

      </ion-list>

    </div>


  </div>
  <app-footer></app-footer>
</ion-content>