<ion-content>
  <app-slideshow></app-slideshow>
  <div class="page-content">
    <div class="router-container">
      <div class="a3-container a3-items-center">
        <ion-button fill="clear" routerLink="/dich-vu">
          <ion-icon name="home"></ion-icon>
        </ion-button>
        <span>/</span>
        <ion-button fill="clear" routerLink="/dich-vu" style="text-transform: none">Dịch vụ</ion-button>
        <span *ngIf="_Link">/</span>
        <ion-button fill="clear" style="text-transform: none" *ngIf="_Link">{{_Link}}</ion-button>
      </div>
    </div>
    <div id="_ID_Content">
      <div padding text-center class="a1-width-100" style="margin-top:10vh">
        <ion-spinner name="dots"></ion-spinner>
        <div padding text-center class="a1-width-100"> Đang tải dữ liệu!</div>
      </div>
    </div>

  </div>
  <app-footer></app-footer>
</ion-content>