.page-content{
    background: white;
    padding: 0;
}
ion-card{
    background:white;
}
.clamptext{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media only screen and (min-width: 800px) {
    .page-content{
        padding: 10px 80px;
    }
  }